<h2>
    {% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    {% endif %}
    {% if post.tagline %}
    <small>{{post.tagline}}</small>
    {% endif %}
</h2>
<div class="row post-full">
    <div class="col-md-12">
        <div class="date">
            <span>{{ post.date | date_to_long_string }}</span>
        </div>

        {% unless post.categories == empty %}
        <ul class="list-inline">
            <li><i class="fa fa-folder-open"> </i></li>
            {% assign categories_list = post.categories %}
            {% include JB/categories_list %}
        </ul>
        {% endunless %}

        {% unless post.tags == empty %}
        <ul class="list-inline">
            <li><i class="fa fa-tags"> </i></li>
            {% assign tags_list = post.tags %}
            {% include JB/tags_list %}
        </ul>
        {% endunless %}

        <article class="content">
            {% if post.content contains '<!--more-->' %}

            {{ post.content | split:'<!--more-->' | first }}

            <p><a href="{{ post.url }}">Continue...</a></p>

            {% else %}

            {{ post.content }}

            {% endif %}
        </article>
    </div>
</div>